@import '../elements/colors';
@import '../elements/mixins';


* {
    font-family: 'Raleway', sans-serif;
    font-weight: 100px;
    
}

a {
    text-decoration: none;
}

body {
    background: #F2F2F2;
}



/* BODY PAGE */


.fheader {
    display: flex;
    background: #002430;
    font-weight: bold;
    width: 100%;
    max-width: 100%;
    color: #fff;

    .fheader-text {
        color: #fff;
        padding: 10px 20px;
        font-size: 20px;
    }
}







.sheader {
    background: #2d4c59;
    color: #FFFFFF;
    font-size: 30px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sheader-txt {
        margin: 0;
        padding: 20px 50px;
    }
}

.new-write {
    color: #cc9d20;
    font-size: 50px;
    padding-right: 40px;
    transition: .2s ease all;

    &:hover {
        transition: .2s ease all;
        color: #ffce54;
    }
}



.form-search {
    margin: 50px 75px;

    .form-txt {
        padding: 4px;
    }
    
    
    .form-btn {
        @include button($primary, $secondary-light, 70px, 35px);
        border-radius: 2px;
    }
}

/* GRID COBRANZAS */

.body {
    display: flex;
    align-items: top;
}

.grid-container {
    display: grid;
    grid-template-rows: 55px;
    grid-template-columns: 800px;
    grid-auto-rows: 55px;
    grid-gap: 2px;
    

    margin: 50px 50px;
    background: none;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: none;
    background: #2d4c59;
    color: #fff;
    font-size: 20px;
    position: relative;
    z-index: 10;

    &:hover {
    
        transition: 1s color ease;
        color: #000;
        cursor: pointer;
        border: 0.5px solid #976f00;
    }

    &:before { 
        transition: .5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
    
    
        opacity: 0;
        content: "";
        background: #FFFFFF;
    }
    
    &:hover:before {
        transition: .7s all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
    }
    
    &.delete {
        transition: all 0.8s ease;
        transform: translateX(-150%);
    }

    .line {
        position: absolute;
        right: 80px;
    
        width: 1px;
        height: 100%;
        background-color: #fff;
    }
    
    
    &:hover .line{
        transition: 1s background ease ;
        background: $secondary-dark;
    }

    .data, .amount {
        padding: 0 10px 0 10px;
    }
}


/* POPUP COBRANZA UNICA */

.overlay {
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    visibility: hidden;

    &.active {
        visibility: visible;
    }
}

.popup {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 90%;


    transition: 2s all ease;
    background: #fff;
    position: relative;
    top: 30px;
    left: 0;
    z-index: 30;
    overflow-y: auto;
    
    
    transition: 0.3s ease all;
    
    transform: scale(0.7);
    
    opacity: 0;

    &.active {
        transform: scale(1);
        opacity: 1;
        transition: 0.3s ease all;
        
    }

    .popup-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #5A90A6;

        .popup-icon {
            color: #ffce54;
            margin-right: 20px;
            font-size: 30px;
            visibility: visible;
        }

        .edit {
            position: absolute;
            right: 50px;
        }

        .deact-modif {
            visibility: hidden;
        }
                
        .deact-check {
            visibility: hidden;
        }

        & p {
            font-size: 27px;
            padding: 5px 20px;
            font-weight: bold;
        }

        

        .body-input {
            position: static;
            z-index: 31;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
        
            & p {
                color: #ffce54;
                position: absolute;
                top: -6px;
                left: 310px;
            }
        
            .header-input { 
                margin: 0px 20px;
                font-size: 25px;
                font-weight: bold;
                max-width: 400px;
                padding: 5px;
                color: #ffce54;
                background: #5A90A6;
                width: max-content;
                outline: none;
                border-radius: 7px;
            
                &.inac {
                    transition: all 0.4s ease;
                    border: 1px solid #5A90A6;
                }
                
                &.active {
                    transition: all 0.4s ease;
                    border: 1px solid #464646;
                    
                }
            }
        }
    }

    .popup-body {
        display: flex;
        align-content: center;
        justify-content: center;
    
        .textarea-form {
            width: 600px;
            height: 450px;
            resize: none;
            margin: 20px 0 0 0;
            outline: none;
            border: 0px solid #fff;
        
            &.active {
                transition: 0.4s ease all;
                box-shadow:0px 2px 10px 0 #000;
            }
    
            &.inac {
                transition: 0.4s ease all;
                box-shadow: 0px 2px 5px 0 #000;
            }
            
        }
    }
}

.exit {
    position: absolute;
    top: 30px;
    right: 300px;


    color: #FFBE1D;
    font-size: 25px;
}

.value-write {
    position: absolute;
    top: 110px;
    left: 333px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 60px;
    border-radius: 10px 0 0 10px;
    background: #165A00;
    transition: transform .5s ease, border .4s ease;
    z-index: 21;
    opacity: 0;

    .input-price {
        width: 120px;
        margin: 0 15px 0 0;
        outline: none;
        color: #fff;
        border: 1px solid #165A00;
        background:#165A00;
        font-size: 25px;
        border-radius: 7px;
        padding: 5px 0 5px 9px;

        &.active {
            transition: all .3s ease;
            border: 1px solid #000;
            color: #000;
            background: #fff;
        }
    }

    &.act.active {
        transition: all .5s ease, border .4s ease;
        transform: translateX(-200px);
        border: 1px solid #FFFFFF;
    }
    
    
    &.act {
        transition: all .3s ease;
        transform: translateX(-43px);
        opacity: 1;
    }

    &:hover {
        transition: transform .5s ease;
        transform: translateX(-200px);
    }
    
    
    & > i {
        font-size: 40px;
        padding: 5px 10px;
        color: #fff;
    }
}

/* TARJETA PARA BORRAR USUARIO */

.delete-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgb(0,0,0,0.3);
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 39;
    opacity: 0;
    transition: all 0.3s ease;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.delete-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 315px;
    height: 220px;
    z-index: 40;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s ease;

    &.active {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
    }

    .delete-msg {
        font-weight: bold;
        font-size: 25px;
        text-align: center;
    }
    
    .btn-div-delete {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .btn-delete {
            width: 110px;
            height: 30px;
            text-align: center;
            padding: 8px 0 0 0;
            font-size: 19px;
            cursor: pointer;
            margin: 10px 10px 0 10px;
        
            &:hover {
                box-shadow: 0 2px 4px 0 #676767;
            }
        }
        
        
        .yes {
            background: $secondary;
            color: $primary; 
        }
        
        
        .no {
            color: $secondary;
            background: $primary;
        }
    }
}

