@import '../config/_colors';
@import '../mixins/_button';

/* HEADER */

.header {
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: fixed;
    top: 30px;

    .header--first {
        max-width: 280px;
        background-color: $primary;
        padding: 30px 20px;
        color: #fff;
        font-size: 35px;
        color: #fff;
    }
    
    
    .header--second {
        display: flex;
        justify-content: right;
        align-content: center;
        padding: 15px 20px;
        background: $primary-semilight;
        width: 175px;
        font-size: 30px;
        color: #fff;
    }
}

/* CREAR NUEVO CLIENTE HUD */

body {
    background: $create-background;
}

.card {
    display: grid;
    max-width: 650px;
    margin: 50px auto;
    grid-template-rows: repeat(17, 55px);
    grid-template-columns: 650px;
    justify-items: left;
    background: #FFFFFF;

    .card__item {
    margin: 15px 0 0 15px;
    }


    .card__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    
    
        background: $primary-dark;
        color: #FFFFFF;
        height: 60px;
        width: 100%;
    
        .card__title {
            font-size: 24px;
            padding: 0 10px;
        }
    }

    .card__form {
        height: 40px;
        width: 500px;
        border-radius: 5px;
        border: 0.1px solid #000;
    }
    
    .card__subtitle {
        font-size: 19px;
    }
    
    .card__button {
        @include button($secondary-light, $primary-dark);
        margin: 40px 0 0 15px;
    }
}
// CREAR NUEVO CLIENTE HUD END