@import '../config/colors';

/* INICIO */

.body {
    background: #F7F7F7;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary;
    font-weight: 300;
    height: 90px;

    .header__title--first {
        margin: 10px 20px;
        color: $secondary;
        font-size: 2rem;
    }

    .header__container--first {
        display: flex;
        justify-items: space-between;
        align-items: center;

        .header__icon--first {
            background: $primary;
            border: .2px solid $primary-dark;
            width: 60px;
            height: 60px;
            margin: 0 0 0 20px;
            clip-path: circle(48% at 50% 49.5%);
        }
    }
    
    .header__container--second {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        &:hover .header__icon-text--second{
            color: $secondary-light;
        }
    
        .header__icon--second {
            font-size: 50px;
            color: $secondary;
            margin: 5px 20px;
        }
        
        .header__icon-text--second {
            margin: -2px 0 0 0;
            color: #002430;
            transition: color .5s ease;
            user-select: none;
            font-weight: 400;
        }
    }
}

.section__container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: 300px;
    background: none;
    grid-gap: 50px;
    margin: 60px 120px;

    .card {
        background:#fff;
        text-align: center;
        transition: .2s ease all;
    
        .card__title {
            color: #FFFFFF;
            font-size: 30px;
            background: $primary-light;
            padding: 30px 0;
            margin: 0;
        }
        
        .card__icon {
            font-size: 130px;
            color: $secondary;
            margin: 40px 0;
        }
        
        .card__description {
            color: #535353;
            margin-top: 25px;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

.clientes {
    box-shadow: -2px 8px 6px 0 #4A4A4A;
    transition: .2s ease all;


    &:hover {
        transition: .2s ease all;
        box-shadow: -2px 8px 12px 0 #4A4A4A;
    }
}

.escrituras {
    transition: .2s ease all;
    box-shadow: 0px 8px 6px 0 #4A4A4A;

    &:hover {
        transition: .2s ease all;
        box-shadow: 0px 8px 12px 0 #4A4A4A;
    }
}

.pagos {
    box-shadow: 3px 8px 6px 0 #4A4A4A;
    transition: .2s ease all;

    &:hover {
        transition: ease all .2s;
        box-shadow: 3px 8px 12px 0 #4A4A4A;;
    }
}

/* INICIO */