<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/e28906f798.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/normalize.css"/>
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/manage.css"/>
    <title>Cobranzas - Escribanía Silva Wapenka</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="header--first"><a class="header__title--first" href="index.html">Escribanía Silva Wapenka</a></div>
        <div class="header--second">
          <p class="header__title--second">Cobranzas</p><a class="fas fa-plus header__icon--second" href="create-collection.html"></a>
        </div>
      </nav>
    </header>
    <div class="body">
      <article>
        <section class="list"></section>
      </article>
      <aside>
        <form class="form--search">
          <input class="form__item--search form__text-input--search" type="text">
          <input class="form__item--search form__button--search" type="submit" value="Buscar">
        </form>
      </aside>
    </div>
    <div class="overlay--card" id="overlay"></div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/manage-b.js"></script>
  </body>
</html>