<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/e28906f798.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/normalize.css"/>
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/create-b.css"/>
    <title>Crear una nueva escritura - Escribanía Silva Wapenka</title>
  </head>
  <body>
    <header>
      <nav class="header"><a class="header--first" href="./index.html">Escribanía Silva Wapenka</a><a class="header--second" href="./writings.html">Escrituras</a></nav>
    </header>
    <div class="overlay--petitions">
      <div class="charge"></div>
    </div>
    <article class="card">
      <div class="card__header">
        <p class="card__title">Crear una nueva escritura.</p>
      </div>
      <div class="card__subtitle card__item">
        <p>Título</p>
      </div>
      <input class="card__form card__item" value="" type="text"/>
      <div class="card__subtitle card__item">
        <p>Valor</p>
      </div>
      <input class="card__form card__item" value="" type="number"/>
      <div class="card__subtitle card__item">
        <p>Contenido</p>
      </div>
      <textarea class="card__textarea card__item" type="text"></textarea>
      <input class="card__button card__item" type="submit" value="Crear"/>
    </article>
    <script src="../js/create-b.js"></script>
  </body>
</html>