<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/e28906f798.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/normalize.css"/>
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/create-a.css"/>
    <title>Crear un nuevo Usuario - Escribanía Silva Wapenka</title>
  </head>
  <body>
    <header>
      <nav class="header"><a class="header--first" href="./index.html">Escribanía Silva Wapenka</a><a class="header--second" href="./users.html">Usuarios</a></nav>
    </header>
    <div class="overlay--petitions">
      <div class="charge"></div>
    </div>
    <article class="card">
      <div class="card__header">
        <p class="card__title">Crear un nuevo usuario</p>
      </div>
      <div class="card__subtitle card__item">
        <p>Nombre</p>
      </div>
      <input class="card__form card__item" type="text"/>
      <div class="card__subtitle card__item">
        <p>Apellido</p>
      </div>
      <input class="card__form card__item" type="text"/>
      <div class="card__subtitle card__item">
        <p>Número de cédula</p>
      </div>
      <input class="card__form card__item" type="text"/>
      <div class="card__subtitle card__item">
        <p>Teléfono</p>
      </div>
      <input class="card__form card__item"/>
      <div class="card__subtitle card__item">
        <p>Fecha de nacimiento</p>
      </div>
      <input class="card__form card__item"/>
      <div class="card__subtitle card__item">
        <p>E-mail</p>
      </div>
      <input class="card__form card__item" type="text"/>
      <div class="card__subtitle card__item">
        <p>Domicilio</p>
      </div>
      <input class="card__form card__item" type="text"/>
      <input class="card__button card__item" type="submit" value="Crear"/>
    </article>
    <script src="../js/create-a.js"></script>
  </body>
</html>