include ../1-atoms/icons

mixin organismCard()
    .organism-card-crudCard
        .organism-header-cardHeader-crudCard
            .atom-title-large Cliente
            .molecule-nav-cardNav-crudCard
                .atom-item-navItem-crudCard Datos
                .atom-item-navItem-crudCard Escrituras
                +icon('large', 'points-menu', 'cardmenu')
        .organism-body-cardBody-crudCard
            .molecule-item-bodyItem-crudCard
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-item-bodyItem-crudCard
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-item-bodyItem-crudCard
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-item-bodyItem-crudCard
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-item-bodyItem-crudCard
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-item-bodyItem-crudCard
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-item-bodyItem-crudCard
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-item-bodyItem-crudCard
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-item-bodyItem-crudCard
                .atom-title-small Nombre
                .atom-text-medium Juan