include ../1-atoms/item
include ../2-molecules/card

mixin list(type, times)
	if type === 'crud'
		.organism-list-crudList
			-var i = 0;
			while i < times
				+item('crud', 'Name', 'Amount')
				-i++
	if type === 'index'
		+card('index', 'users.jpg', 'Usuarios')
		+card('index', 'clients.jpg', 'Clientes', 'clients.html')
		+card('index', 'writing.jpg', 'Escrituras')
		+card('index', 'collection.jpg', 'Cobranzas')