include ../1-atoms/icons
include ../1-atoms/input
include ../2-molecules/form

mixin nav(type='default')
    if type === 'default'
        +icon('extra-large', 'menu-line', 'menu')
    if type === 'crud'
        .organism-nav-iconsContainer-mainHeader
            +icon('extra-large', 'reload', 'reload')
            +form('crud')
            +icon('extra-large', 'plus', 'create')
            +icon('extra-large', 'menu-line', 'menu')