
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="../assets/icons/logo-sw-filled-black.png"/>
    <link rel="stylesheet" href="../css/styles.css"/>
    <title>Clientes</title>
  </head>
  <body>
    <div class="template-crud">
      <div class="template-header">
        <div class="organism-header-main"><a class="molecule-title-logo" href="index.html"><img class="logo-medium" src="../assets/icons/logo-sw-black.png"/>
            <h1 class="atom-title-large">Escribanía Silva Wapenka</h1></a>
          <div class="organism-nav-icons">
            <div class="molecule-form-search"><img class="atom-icon-large" id="minimize" src="../assets/icons/svg/arrow.svg"/>
              <input class="atom-input-text-primary-outline" id="search-input" type="text" placeholder="Buscar"/><img class="atom-icon-extra-large" id="search" src="../assets/icons/svg/search.svg"/>
            </div><img class="atom-icon-extra-large" id="create" src="../assets/icons/svg/plus.svg"/><img class="atom-icon-extra-large" id="menu" src="../assets/icons/svg/menu-line.svg"/>
          </div>
        </div>
      </div>
      <div class="template-list">
        <div class="organism-crud-list">
        </div>
      </div>
      <div class="organism-overlay"></div>
    </div>
    <div class="molecule-confirm-card">
      <div class="atom-title-large">¿Borrar el cliente Aieta Luciano?</div>
      <div class="card-buttons"><a class="atom-button-primary-filled" href="#">Sí borrar</a><a class="atom-button-primary-empty" href="#">No borrar</a>
      </div>
    </div>
    <script src="../js/compiled/clients.js"></script>
  </body>
</html>