include ../1-atoms/_button

mixin card(type, url, name, href)
    if type === 'index'
        .molecule-index-card
            img.img(src=`../assets/images/${url}`)
            .container
                +title('large', name)
                +button('primary', 'outline', 'Administrar', href)