mixin form(type)
    if type === 'crud'
        .molecule-form-search
            +icon('large', 'arrow', 'minimize')
            +input-text('search-input', 'primary', 'outline', 'Buscar')
            +icon('extra-large', 'search', 'search')