include ../1-atoms/_icons

mixin header()
    .molecule-header-main
        .title-logo
            img(class='logo' src='../assets/icons/logo-sw-black.png')
            h1(class='title') Escribanía Silva Wapenka
        +icon('extra-large', 'menu-line')