@import '../elements/colors';

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 100px;
    
}

a {
    text-decoration: none;
}

body {
    background: #F2F2F2;
}



/* BODY PAGE */

.fheader {
    display: flex;
    background: #002430;
    font-weight: bold;
    width: 100%;
    max-width: 100%;
    color: #fff;

    .fheader-text {
    
        color: #fff;
        padding: 10px 20px;
        font-size: 20px;
    }
}

.sheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2d4c59;
    color: #FFFFFF;
    font-size: 30px;
    max-width: 100%;

    .sheader-txt {
    
        margin: 0;
        padding: 20px 50px;
    }
}

.user {
    color: #cc9d20;
    font-size: 50px;
    margin-right: 40px;
    transition: .2s ease all;

    &:hover {
        color: #ffce54;
        transition: .2s ease all;
    }
}

.body {
    display: flex;
    align-items: top;
}

.form-search {
    margin: 50px 75px;
}


.form-txt {
    padding: 4px;
}

.form-btn {
    background-color: #000007;
    border: none;
    border-radius: 2px;
    color: #ffce54;
    padding: 7px;
}

/* GRID CLIENTES */

.grid-container {
    display: grid;
    grid-template-rows: 55px;
    grid-template-columns: 800px;
    grid-auto-rows: 55px;
    grid-gap: 2px;
    

    margin: 50px 50px;
    background: none;
}

.grid-item {
    display: flex;
    align-items: center;
    
    border: none;
    background: #2d4c59;
    color: #fff;
    font-size: 20px;
    position: relative;
    z-index: 10;

    &:hover {
    
        transition: 1s color ease;
        color: #000;
        cursor: pointer;
        border: 0.5px solid #976f00;
    }
    
    
    &:before { 
        transition: .5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
    
    
        opacity: 0;
        content: "";
        background: #FFFFFF;
    }
    
    
    &:hover:before {
        transition: .7s all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
    }
    
    
    p {
        padding: 0 0 0 10px;
    }
    
    
    &.delete {
        transition: all 0.8s ease;
        transform: translateX(-150%);
    }
}


/* GRID CLIENTE UNICO */

.overlay {
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;

    &.active {
        visibility: visible;
        opacity: 1;
    }
    
}

.popup {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 90%;


    transition: 2s all ease;
    background: #fff;
    position: relative;
    top: 30px;
    left: 0;
    z-index: 30;
    overflow-y: auto;
    
    
    transition: 0.3s ease all;
    
    transform: scale(0.7);
    
    opacity: 0;

    &.active {
        transform: scale(1);
        opacity: 1;
        transition: 0.3s ease all;
        
    }

    .popup-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #5A90A6;

        p {
            font-size: 27px;
            padding: 5px 20px;
            font-weight: bold;
        }

        .deact-modif {
            visibility: hidden;
        }
        
        
        .edit {
            position: absolute;
            right: 50px;
        }
        
        
        .deact-check {
            visibility: hidden;
        }
    }
    .popup-icon {
        color: #ffce54;
        margin-right: 20px;
        font-size: 30px;
        visibility: visible;
    }
    
    
}

.exit {
    position: absolute;
    top: 30px;
    right: 300px;


    color: #FFBE1D;
    font-size: 25px;
}

.popup-body {
    display: grid;
    grid-template-rows: repeat(7, 50px minmax(50px 150px));
    grid-template-columns: 100%;
    
    white-space: normal;

    p {
        margin: 0;
    }


    .body-title {
        background-color: #fff;
        font-size: 20px;
        padding: 15px 0px 5px 15px;
    }

    .body-data {
        background-color: #fff;
        font-size: 18px;
        width: 350px;
        height: minmax(50px 100px);
        
        
        padding: 7px;
        margin: 10px 0 10px 20px;
        transition: border .7s ease;
    
        &-inac {
        border: 0.5px none #fff;
        outline: none;
        }
    
        &-act {
            outline: none;
            border: 0.5px solid #8C8A8A;
        }
    }
    
}






















/*
.popup::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

.popup::-webkit-scrollbar-thumb {
    background: #8C8A8A;
}

.popup::-webkit-scrollbar-track {
    background: #E7E7E7;
    width: 10px;
}
*/


/* TARJETA PARA BORRAR CLIENTE */




.delete-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgb(0,0,0,0.3);
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 39;
    opacity: 0;
    transition: all 0.3s ease;

    &.active {
        visibility: visible;
        opacity: 1;
    }


    .delete-container {
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 315px;
        height: 220px;
        z-index: 40;
        visibility: hidden;
        opacity: 0;
        transform: scale(0.8);
        transition: all 0.3s ease;
    
        &.active {
            opacity: 1;
            transform: scale(1);
            visibility: visible;
        }


        .delete-msg {
            font-weight: bold;
            font-size: 25px;
            text-align: center;
        }
        
        
        
        .btn-div-delete {
            display: flex;
            align-items: center;
            justify-content: space-between;
        
        
        
            .btn-delete {
                width: 110px;
                height: 30px;
                text-align: center;
                padding: 8px 0 0 0;
                font-size: 19px;
                cursor: pointer;
                margin: 10px 10px 0 10px;
            
                &:hover {
                    box-shadow: 0 2px 4px 0 #676767;
                }
            }
            
            .yes {
                background: $secondary;
                color:$primary; 
            }
        
        
            .no {
                color: $secondary;
                background: $primary;
            }
        }
    }
    

}





















