include ../2-molecules/cards/_index-card

mixin indexCards()
    +indexCard('users.jpg', 'Usuarios')
    +indexCard('clients.jpg', 'Clientes')
    +indexCard('writing.jpg', 'Escrituras')
    +indexCard('collection.jpg', 'Cobranzas')