@import '../config/fonts';

* {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input {
    outline: none;
}