include ../mixins/_head-simple
include ../mixins/_header-create
include ../mixins/_body-create

doctype html
html(lang="es")
    head
        //- Head simple
        +head('create-a.css')
        title Crear un nuevo Usuario - Escribanía Silva Wapenka
    body
        //- Header simple (dirige a index / manage)
        +header('users.html', 'Usuarios')
        //- Body común (tipo a: clientes y usuarios / tipo b: escrituras y cobranzas)
        +body('a', 'usuario')
        //- Script (tipo a: clientes y usuarios / tipo b: escrituras y cobranzas)
        script(src='../js/create-a.js')