include ../mixins/_head-simple

doctype html
html(lang="es")
    head
        +head('index.css')
        title Inicio - Escribanía Silva Wapenka
    body
        include ../includes/_index-header
        include ../includes/_index-body