// Colores principales
$primary: #002430;
$primary-light: #2d4c59;
$primary-semilight: #003242;
$primary-dark: #000007;


$secondary: #cc9d20;
$secondary-light: #ffce54;
$secondary-dark: #976f00;

// Pestaña de crear
$create-background: #577D8D;