include ../4-templates/_crud
include ../3-organisms/_card
include ../1-atoms/_button
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='icon' type='image/png' href='../assets/icons/logo-sw-filled-black.png')
        link(rel="stylesheet", href="../css/styles.css")
        title Clientes
    body
        .template-crud
            +bigHeader
            +crudList(0)
            .organism-overlay
        .molecule-confirm-card
            .atom-title-large ¿Borrar el cliente Aieta Luciano?
            .card-buttons
                +button('primary', 'filled', 'Sí borrar')
                +button('primary', 'empty', 'No borrar')
        script(src='../js/compiled/clients.js')