header.header
    div.header__container--first
        img.header__icon--first(src='../assets/icons/sw-logo-secondary.png' alt='Logo Escribanía Silva Wapenka')
        h1.header__title--first Escribanía Silva Wapenka
    div.header__container--second
        a.fas.fa-user-tie.header__icon--second(href='./users.html')
        p.header__icon-text--second Usuarios