article
    section.section__container
        a.card.clientes(href='./clients.html')
            i.card__icon.fas.fa-users
            p.card__title Clientes
            p.card__description Ingrese para gestionar los Clientes de la Escribanía.
        a.card.escrituras(href='./writings.html')
            i.card__icon.fas.fa-scroll
            p.card__title Escrituras
            p.card__description Ingrese a esta seccion para gestionar las Escrituras de los Clientes.
        a.card.pagos(href='./collections.html')
            i.card__icon.fas.fa-dollar-sign
            p.card__title Cobranzas
            p.card__description Ingrese para gestionar las cobranzas de la Escribanía.