@import '../../elements/colors';
@import '../../elements/mixins';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.body {
    background: $create-background;
}


/* HEADER */

.header {
    
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: fixed;
    top: 30px;
}

.div-header {
    max-width: 280px;
    background-color: $primary;
    padding: 30px 20px;
    color: #fff;
    font-size: 35px;

    & > a {
        color: #fff;
    }
}

.div-headerDos {
    display: flex;
    justify-content: right;
    align-content: center;
    padding: 15px 20px;
    background: #003242;
    width: 175px;
    
    font-size: 30px;

    & > a {
        color: #fff;
    }
}

/* CREAR NUEVO CLIENTE HUD */

.grid-container {
    display: grid;
    max-width: 650px;
    margin: 50px auto;
    grid-template-rows: repeat(6, 55px) 570px 30px;
    grid-template-columns: 650px;
    justify-items: left;
    height: 1000px;


    background: #FFFFFF;

    .grid-item {
        margin: 10px 0 0 10px;
    }
    
    
    .header-element {
        padding: 15px;
    }
    
    
    .grid-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    
    
        background: #000007;
        color: #FFFFFF;
        font-size: 20px;
        height: 60px;
        width: 100%;
    
        .grid-header-title {
            font-size: 24px;
            padding: 0 10px;
        }
    }
    
    .grid-item-form {
        height: 40px;
        width: 500px;
    
    
        border-radius: 5px;
        border: 0.1px solid #000
    }
    
    .grid-item-title {
        font-size: 22px;
    }
    
    
    .grid-item-textarea {
        width: 600px;
        height: 550px;
        resize: none;
    }
    
    
    .grid-item-button {
        @include button ($secondary-light, $primary-dark)
    }
}

/*
.arrow {
    color: #cc9d20;
    font-size: 25px;
    transition: .3s ease all;

    &:hover {
        color: #ffce54;
    }
}
*/

/* CREAR NUEVA COBRANZA HUD END */