input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.body {
  background: #577D8D;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  justify-content: right;
  position: fixed;
  top: 30px;
}

.div-header {
  max-width: 280px;
  background-color: #002430;
  padding: 30px 20px;
  color: #fff;
  font-size: 35px;
}
.div-header > a {
  color: #fff;
}

.div-headerDos {
  display: flex;
  justify-content: right;
  align-content: center;
  padding: 15px 20px;
  background: #003242;
  width: 175px;
  font-size: 30px;
}
.div-headerDos > a {
  color: #fff;
}

/* CREAR NUEVO CLIENTE HUD */
.grid-container {
  display: grid;
  max-width: 650px;
  margin: 50px auto;
  grid-template-rows: repeat(6, 55px) 570px 30px;
  grid-template-columns: 650px;
  justify-items: left;
  height: 1000px;
  background: #FFFFFF;
}
.grid-container .grid-item {
  margin: 10px 0 0 10px;
}
.grid-container .header-element {
  padding: 15px;
}
.grid-container .grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000007;
  color: #FFFFFF;
  font-size: 20px;
  height: 60px;
  width: 100%;
}
.grid-container .grid-header .grid-header-title {
  font-size: 24px;
  padding: 0 10px;
}
.grid-container .grid-item-form {
  height: 40px;
  width: 500px;
  border-radius: 5px;
  border: 0.1px solid #000;
}
.grid-container .grid-item-title {
  font-size: 22px;
}
.grid-container .grid-item-textarea {
  width: 600px;
  height: 550px;
  resize: none;
}
.grid-container .grid-item-button {
  width: 100px;
  height: 40px;
  border: 0.3px solid #000007;
  margin-top: 20px;
  cursor: pointer;
  font-size: 17px;
  color: #000007;
  background: #ffce54;
  outline: none;
}

/*
.arrow {
    color: #cc9d20;
    font-size: 25px;
    transition: .3s ease all;

    &:hover {
        color: #ffce54;
    }
}
*/
/* CREAR NUEVA COBRANZA HUD END */