mixin body (type, name)
    if type === 'b'
        .overlay--petitions
            .charge
        article.card
            .card__header
                p.card__title Crear una nueva #{name}.
            .card__subtitle.card__item
                p Título
            input.card__form.card__item(value='' type='text')
            .card__subtitle.card__item
                p Valor
            input.card__form.card__item(value='' type='number')
            .card__subtitle.card__item
                p Contenido
            textarea.card__textarea.card__item(type='text')
            input.card__button.card__item(type='submit' value='Crear')
    else if type === 'a'
        .overlay--petitions
            .charge
        article.card
            .card__header
                p.card__title Crear un nuevo #{name}
            .card__subtitle.card__item
                p Nombre
            input.card__form.card__item(type='text')
            .card__subtitle.card__item
                p Apellido
            input.card__form.card__item(type='text')
            .card__subtitle.card__item
                p Número de cédula
            input.card__form.card__item(type='text')
            .card__subtitle.card__item
                p Teléfono
            input.card__form.card__item
            .card__subtitle.card__item
                p Fecha de nacimiento
            input.card__form.card__item
            .card__subtitle.card__item
                p E-mail
            input.card__form.card__item(type='text')
            .card__subtitle.card__item
                p Domicilio
            input.card__form.card__item(type='text')
            input.card__button.card__item(type='submit' value='Crear')