mixin head(route)
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='https://kit.fontawesome.com/e28906f798.js' crossorigin='anonymous')
    link(rel='stylesheet' href='../css/normalize.css')
    link(rel='stylesheet' href='../css/base.css')
    link(rel='stylesheet' href='../css/'+route)