mixin header(section, create)
    header
        nav
            .header--first
                a.header__title--first(href='index.html') Escribanía Silva Wapenka
            .header--second
                p.header__title--second #{section}
                a.fas.fa-plus.header__icon--second(href=create)