include ../1-atoms/_icons

mixin organismCard()
    .organism-crud-card
        .organism-crud-card-header
            .atom-title-large Cliente
            .molecule-crud-card-nav
                .atom-crud-card-nav-item Datos
                .atom-crud-card-nav-item Escrituras
                +icon('large', 'points-menu', 'card_menu')
        .organism-crud-card-body
            .molecule-crud-card-body-item
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-crud-card-body-item
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-crud-card-body-item
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-crud-card-body-item
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-crud-card-body-item
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-crud-card-body-item
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-crud-card-body-item
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-crud-card-body-item
                .atom-title-small Nombre
                .atom-text-medium Juan
            .molecule-crud-card-body-item
                .atom-title-small Nombre
                .atom-text-medium Juan